# Setup this environment variables for your application.properties and docker-compose.yml
DB_USERNAME=your_user
DB_PASSWORD=your_password
DB_NAME=name_of_db
DB_URL=jdbc:postgresql://ip_or_dns:port/name_of_db